doctype 5
html(lang="fr")
  head
    title Acadock
    != js("zepto")
    != js("application")
    != css("application")
  body
    h1 Acadock
      a(href="/containers/new")
        button Create container

    ul#containers
      each container in containers
        .info
          if container.Hostname
            li= "Hostname " + container.Hostname
          else
            li= "ID " + container.id 

