doctype 5
html(lang="fr")
  head
    title Acadock
    != js("zepto")
    != js("application")
    != js("form")
    != css("application")
    
  body
    h1 Acadock

    ul#containers
      each container in containers
        .info
          li= "ID " + container.id
          li= "Image" + container.image
          li= "Created" + container.created
          li= "Status" +  container.status
    div
      button#create-container-btn Create container


