doctype 5

html(lang="fr")
  head
    title Acadock
    != js("application")
    != css("application")
  body
    h1 Acadock
      a(href="/containers/new")
        button Create container

    ul#containers
      each container in containers

        li.container-info
          span.statuslight
            if container.Status.match(/^Exit.*/)   
              .lightdown
            else 
              .lightup
          if container.Hostname
            - containerStr = "Hostname " + container.Hostname
          else
            - containerStr = "ID " + container.Id 
          a(href="/containers/" + container.Id)
            = containerStr
          span.pull-right
            a(class="container-destroy", href="/containers/" + container.Id)
              button Destroy

