doctype 5

html(lang="fr")
  head
    title Acadock
    != js("application")
    != css("application")
  body
    .title
      h1 Acadock

    input(type="text", class="cli", id="cli", placeholder="Your Command")
    ul#containers
      each container in containers

        li.container-info-light
          span.statuslight
            if container.Status.match(/^Exit.*/)   
              .lightdown
            else 
              .lightup
          if container.Hostname
            - containerStr = "Hostname " + container.Hostname
          else
            - containerStr = "ID " + container.Id.substring(0,12)
          a(href="/containers/" + container.Id)
            = containerStr
          span.pull-right
            a(class="container-destroy", href="/containers/" + container.Id)
              button Destroy

