doctype 5
html(lang="fr")
  head
    title Acadock -- New Container
    != js("zepto")
    != js("application")
    != js("form")
    != css("application")

  body 
    h1 Acadock -- New Container
  .form-container
    form(method='post', action='/containers/create')
      div#comd
        label(for='command') Command*
          input(id='command', type='text', name='container[command]')

      div#hostname
        label(for='hostname') Hostname
          input(id='hostname', type='text', placeholer='Hostname', name='container[hostname]')

      div#user
        label(for='user') User
          input(id='user', type='text', name='container[user]')

      input(type='submit', value="Create container")

