@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
body
  background-color #ECF0F1
  font-family 'Open Sans', sans-serif
  font-size 14px
  padding-left 20px

h1
  button
    margin 0 0 0 30px
    padding 5px
    border 1px solid

li
  padding-top 8px
  list-style none

.container-info
  width 75%
  background-color white
  margin-top 12px
  a
    padding-top 20px
    padding-left 7px
    color #1B6C8C
  li
    padding-bottom 10px
    
form
  margin-top 40px

#chartcanvas
  height 300px
  width 900px
