@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
body
  background-color #ECF0F1
  font-family 'Open Sans', sans-serif
  font-size 14px

.title
  margin auto 
  height 60px
  width 80%
  background-color #A93D40
  h1
    color white
    width 95%

h1
  margin 20px auto
  padding-top 10px
  width 70%
  button
    margin 0 0 0 30px
    padding 5px
    border 1px solid

.cli
  display inline-block
  font-family monospace
  width 57%
  margin-left 15%
  padding 10px 10px 10px 10px
  border 2px solid #777
  margin-top 20px

ul#containers
  padding-left 0px

.gobtn
  float left
  position relative
  top -60px
  height 40px
  width 100px
  padding-top 20px
  margin-left 10px
  background-color #A93D40
  a
    text-decoration none
    color white
    margin-top 20px
    padding-top 50px
    padding-left 27px
    padding-right 10px

.gobtn:visited
  a
    color white

.gobtn:hover
  background-color #AA1520
  a
    color white 

.port
  @extend .cli
  width 10%
  margin-left 2%

.container-info
  list-style none
  width 78%
  margin auto
  background-color white
  padding 10px 0px 10px 9px
  margin-top 10px
  a
    text-decoration none
    color black
  li
    padding-bottom 10px

.container-info-light
  @extend .container-info
  &:hover
    border 2px solid #95a5a6
    color black

button
  background-color: black
  color white
  border 0px
  height 24px
  padding-bottom 1px

form
  margin-top 40

.lightup
  height 10px
  width 10px
  border-radius 50%
  background-color #85CE30
  display inline-block
  margin-right 5px
  margin-left 6px

.lightdown
  height 10px
  width 10px
  border-radius 50%
  background-color red
  display inline-block
  margin-right 5px
  margin-left 6px


#real-time-container
  margin-left auto
  margin-right auto
  margin-top 20px
  margin-bottom 40px
  width: 78%
  height: 100%
  background-color: white
  pre#container-attachment
    margin-left auto
    margin-right auto
    background-color #002b36
    color #eee8d5
    padding 10px 10px 10px 25px
    width 75%
    max-height 400px
    overflow-y scroll
    overflow-x hidden

.charts
  .charts-container
    padding-top 25px
    padding-left 15%
    .smoothie-graph
      display inline
      .cpu-graph
        display inline-block
        margin-right 40px
      .mem-graph
        display inline-block
        margin-left 40px
      .netrx-graph
        display inline-block
        margin-right 40px
      .nettx-graph
        display inline-block
        margin-left 40px
    
form
  margin-top 40px

span.pull-right
  float right
  position relative
  bottom 3px

span.command
  font-family monospace
  background-color #FDFFB5
  border 1px solid #CCCCCC
  padding 3px 10px 3px 10px
