@import url(http://fonts.googleapis.com/css?family=Open\+Sans);
body
  background-color #ECF0F1
  font-family 'Open Sans', sans-serif
  font-size 14px

h1
  margin 20px auto
  width 78%
  button
    margin 0 0 0 30px
    padding 5px
    border 1px solid

li
  padding-top 8px
  list-style none

.container-info
  width 75%
  margin 0 auto
  background-color white
  a
    padding-top 20px
    padding-left 7px
    color #1B6C8C
  li
    padding-bottom 10px

form
  margin-top 40

.charts
  margin-left auto
  margin-right auto
  margin-top 20px
  margin-bottom 40px
  width: 78%
  height: 500px
  background-color: white

.charts-container
  margin 0 auto
  width 50%
  p
    padding-top 15px
#chartmemcanvas
  width 430px
  height 140px
  margin-top 30px

#chartcanvas
  padding-top 20px
  width 430px
  height 140px

